@import url('https://fonts.googleapis.com/css2?family=League+Gothic:wdth@75..100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@keyframes slideMenu{
    0%{
        left:-100%;
        visibility:hidden;
        overflow-x:hidden;
        overflow-y:hidden;
    }
    100%{
        opacity:1;
        visibility:visible;
        left:0;
        overflow-x:hidden;
        overflow-y:hidden;
        
    }
}
@keyframes slideMenuOut{
    0%{
        opacity:1;
        visibility:visible;
        left:0;
        overflow-x:hidden;
        overflow-y:hidden;
    }
    100%{
        
        left:-100%;
        visibility:hidden;
        overflow-x:hidden;
        overflow-y:hidden;
    }
}

:root{
    --main-color:#da291c/*#cf0a2c  */
}
.slide-menu-out{
    animation:slideMenuOut ease 0.7s forwards; 

}
.slide-menu{
    animation:slideMenu ease 0.7s forwards; 

}
body.no-scroll {
  overflow: hidden;
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Rubik',Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
    /*-webkit-user-select: none;  Safari 
        -moz-user-select: none;   Firefox
        -ms-user-select: none;    IE/Edge 
        -user-select: none;       Standard 
    */

}
html{
    height:100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    background-color:#f9fafb;
    
    height:100% ;
    width:100vw ;
    display:flex;
    flex-direction:column;
    /*justify-content:space-between;*/
    min-height:100vh;
    overflow-x:hidden;
}
.container{
    flex:1;
    
}

header{ 
    min-width:100vw;
    background-color:var(--main-color);
    height:95px;
    color:#fff;
    /*box-shadow:0 1px 4px rgba(0, 0, 0, 0.1); */
    box-shadow:0 3px 3px rgba(0, 0, 0, .1);
    position:fixed;
    z-index:2
}
.header-items{
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1200px;
    margin:auto;
    padding:0 20px;
    height:100%;
}

h1{
    display:none;
}
.header-logo{
    height:90px;
    width:100px;
    outline:none;
    text-decoration:none;

}
.header-logo img{
    height:100%;
    width:100%;
    object-fit:contain;
    position:relative;
    bottom:3px;
}


.header-pages{
    display:flex;
    justify-content:space-between;
    list-style-type: none;
    width:320px;
    text-transform:uppercase;
    
}

.header-pages--container{
    display:flex;
    flex-direction:column;
    
}

.header-pages--container.header-pages--active{
    display:flex
}


.header-pages a{
    text-decoration:none;
    outline:none;
    color:#fff;
    font-weight:500;
    font-size:16px;
    transition:ease 0.1s all

}
.header-pages a:hover{
    filter:brightness(0.8);
    
}

.header-icons{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width: 170px;

}
.cart{
    display:flex;
    cursor:pointer;
    border-radius:20px;
    padding:5px 10px;
    transition:ease all 0.1s;
    

}
.cart:hover{
    background-color:#fff;
}
.cart:hover svg path{
    stroke:var(--main-color);
}
.cart:hover .cart-info{
    color:var(--main-color);
}
.cart svg{
    height:36px;
    width:36px;
    
    
}
.cart svg path{
    stroke:#fff
    
}
.cart-info{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-left:4px;
}
.cart-value{
    font-size:12px;

}
.cart-length{
    margin-top:2px;
    font-size:11px;
    
}

.login{
    height:40px;
    width:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    transition:ease all 0.1s;
    padding:5px;
}
.login a{
   height:29px;
   width:29px; 
}
.login svg{
    height:29px;
    width:29px;
    
}
.login svg path{
    fill:#fff;
}
.login:hover{
    background-color:#fff;
}
.login:hover svg path{
    fill:var(--main-color);
}

.menu-toggle{
    border:0;
    outline:0;
    text-decoration:none;
    height:40px;
    width:35px;
    font-size:28px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom:3px;
    background-color:transparent;
    color:#fff;
    cursor:pointer;
    display:none;
    
}

.menu-toggle:hover{
    filter:brightness(0.8)
}


.menu-background{
    z-index:8;
    /*background: rgba(0, 0, 0, 0.5);*/
    background-color:#000;
    width:100vw;
    height:100%;
    transition: opacity 0.3s ease;
    opacity:0;
    top:0;
    left:0;
    position:fixed;
    pointer-events:none;
    
}
.menu-background.menu-background--active{
    opacity:0.5;
    pointer-events:all;
}

.mobile-menu--header{
    display:none;
    height:95px;
    width:100%;
    background-color:var(--main-color);;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px;
    justify-content:space-between;
    align-items:center;
    padding: 0 30px;
}

.mobile-header-logo{
    height:80px;
    width:90px;
    outline:none;
    text-decoration:none;
    

}
.mobile-header-logo img{
    height:100%;
    width:100%;
    object-fit:contain;
    position:relative;
    bottom:3px;
}
.mobile-menu--closer{
    font-size:23px;
    cursor:pointer;
    
}
.mobile-menu--closer:hover{
    filter:brightness(0.8);   
}
.mobile-header--organizer{
    width:18.8px;
    opacity:0;
    visibility:hidden;
    
}

.mobile-login{
    display:none;
    align-items:center;
    background-color:var(--main-color);
    padding:10px 25px;
    margin-top:20px;
    border-radius:30px;
    position:relative;
    right:15px;
    cursor:pointer;
}
.mobile-login:hover{
    filter:brightness(0.9)
}
.mobile-login a{
   height:33px;
   width:33px; 
}
.mobile-login svg{
    height:33px;
    width:33px;
    
}
.mobile-login svg path{
    fill:#fff;
}

.mobile-login span {
    color:#fff;
    font-size:22px;
    font-weight:700;
    margin-left:5px;    
}

.mobile-menu--line{
    width:90%;
    height:2px;
    background-color:var(--main-color);
    margin:auto;
    display:none;
    position:relative;
    bottom:50px;
    border-radius:1px;
}







footer{
  background-color:var(--main-color); 
  width:100%;
  margin:0;
  padding:0;
  
  
} 
.footer-container{
    color:#fff;
    display:flex;
    justify-content:space-between;  
    padding:20px;
    max-width:1200px;
    margin:auto;
    flex-wrap:wrap;
}

  
.footer-1{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-weight:300;
    margin-bottom:10px;
    
}
.footer-1 img{
    height:80px;
    width:90px; 
    margin-bottom:10px;   
}


.footer-2{
    margin-bottom:10px;
}
.footer-2-apps-title{
    font-weight:600;
    font-size:19px;
}
.footer-2-apple,.footer-2-android{
    display:flex;
    align-items:center;
    margin:10px 0 10px 0;
    cursor:pointer;
    outline:none;
    text-decoration: none;
    color:#fff;
}
.footer-2-apple:hover,.footer-2-android:hover{
    filter:brightness(0.7);
}
.footer-2-apple img,.footer-2-android img{
    width:20px;
    height:20px;
    filter:invert(1);
    margin-right:5px;
    
}

.footer-2-contact-container{
    margin-top:30px;
}
.footer-2-contact{
   font-weight:600;
   font-size:19px;
   margin-bottom:10px;
}
.footer-3{
    margin-bottom:10px;
}
.footer-3-title{
   font-weight:600;
   font-size:19px;
   margin-bottom:10px;
}
.footer-3-legal {
    display:flex;
    flex-direction:column;
    

}
.footer-3-legal a{
    color:#fff;
    text-decoration:none;
    outline:none;
    margin:5px;
}
.footer-3-legal a:hover{
    filter:brightness(0.7);    
}


.footer-4{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    height:100%;
    margin-bottom:10px;
    z-index:1;
    position:relative;
    font-size:19px;
    font-weight:600;
}

.footer-4-icons{
    display:flex;
    margin-left:10px;
    
}

.footer-4-icons a{
    width:45px;
    height:45px;
    background-color:#fff;
    padding:10px;
    margin-right:10px;
    border-radius:50%;
    cursor:pointer;
    

}
.footer-4-icons img{
    width:100%;
    height:100%;
    filter:invert(14%) sepia(100%) saturate(7484%) hue-rotate(1deg) brightness(103%) contrast(114%);
    
}
.footer-4-icons a:hover{
    filter:brightness(0.8)
}










@media(max-width:800px){
    .header-items{
        padding:0 40px;
    }
    .header-pages--container{
        flex-direction:column;
        position:absolute;
        height:100vh;
        width:70%;
        justify-content:auto;
        background-color:#fff;
        display:none;
        overflow-x:hidden;
        overflow-y:hidden;
        top:0;
        z-index:9;
    }
    .mobile-login{
        display:inline-flex;
    }
    
    .mobile-menu--header{
        display:flex;
        
    }
    .header-pages{
        display:flex;
        flex-direction:column;
        height:auto;
        padding:50px 0 50px 30px;
    }

    .header-pages li{
        padding:12px 0;
    }
    .header-pages a{
        color:#595959;
        font-size:26px;
        font-weight:700;
        
    }
    .header-pages a:hover{
        color:var(--main-color);
        filter:brightness(1);
    }
    .login{
        display:none;
    }
    .menu-toggle{
        display:block;
        
    }
    .header-icons{
        width: auto;

    } 
    .menu-toggle{
        width:80px;
    } 
    /*.cart{
        flex-direction:column;
        align-items:center;
        justify-content:center;
        position:relative;
        top:12px;
    }*/
    .cart-info{
        margin-top:5px;
        margin-right:4px;
    }
    .mobile-menu--line{
        display:block;
}
}

@media(max-width:500px){
    .footer-container{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .footer-2-apps{
        margin-top:20px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;  
    }
    .footer-2-contact-container{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center; 
        margin-bottom:10px;
    }
    .footer-3{  
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center; 
        margin-bottom:20px  
    
    }
    .footer-4{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;  
    }
    .footer-4-title{
        margin-bottom:10px
    }
}