.title-container{
    width:100%;
    height:300px;
    background-color:#fff;
    background-color:var(--main-color);
    margin-top:95px;
    position:relative;
    z-index:-2;
    overflow: hidden;

}
.title-image--area{
    
    max-width:1200px;
    margin:auto;
    padding:20px; 
    height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    

}
.main-title{
    color:#f9c257;
    color:var(--main-color) ;
    color:#fff;
    font-weight:700;
    font-size:70px;
    position:relative;

}
.main-image{
    background-image:url("../assets/images/restaurant 1.jpg");
    height:300px;
    width:50%;
    background-size:cover;
    background-position:50% 75% ;
    background-repeat:no-repeat;
    position:absolute;
    right:0;
    z-index:-2;
    

}
.title-container:after{
    content:'';
    position:absolute;
    left:30%;;
    top:-50%;
    height:200%;
    width:25%;
    background-color:#fff;
    background-color:var(--main-color);
    transform:rotate(15deg);
    z-index:-1;
    
}





.store-container--area{
    width:100%;
    height:auto;
    background-color:#fff;
    
}
.store-container{
    display:flex;
    max-width:1200px;
    padding:0 20px;
    margin:auto;
    justify-content:space-between;
}
.store-text{
    width:45%;
    
    font-size:17px;
    color:#484848;
    font-weight:400;
    letter-spacing: 0.8px;;
    
    
}
.store-title{
    color:#9e0d03;
    color:var(--main-color);
    
    font-size:36px;
    font-weight:700;
    letter-spacing:1px;
    margin-top:30px;
    margin-bottom:10px;
    
}
.store-subtitle{
    color:#9e0d03; 
    color:var(--main-color);
    color:#f64437; 
    font-size:36px;
    font-weight:700;
    letter-spacing:1px;
    margin-bottom:25px;
}
.store-address{
    display:flex;
    align-items:center;
    margin-bottom:25px;
    
}
.store-address svg,.store-contact svg{
    flex-shrink:0;
    width:100%;
    height:100%;
}
.store-address--icon,.store-contact--icon{
    width:45px;
    margin-right:12px;
    height:45px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-shrink:0;
}

.store-contact{
    display:flex;
    align-items:center;
    margin-bottom:25px;
}

.store-contact svg{
    position:relative;
    top:5px;   

}

.store-description{
    line-height:1.5;
    margin-bottom:50px;
    
}   

.store-image{
    width:50%;
    height:auto;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    

}
.store-image img{
    width:100%;
    height:100%;
    border-radius:50%;
}
.image-container{
    width:450px;
    height:450px;
    object-fit:cover;
    border-radius:50%;
    border:20px solid var(--main-color)
    
}

.darker-store-container{
    background-color:#efefef;
}
.flex-invert{
    flex-direction:row-reverse;
}
.flex-start{
    justify-content:flex-start;
}
.hidden-image{
    display:none;
}
.store-image-hidden{
    display:none;
}
@media(max-width:950px){
    .title-container:after{
        left:40%;;
        top:-50%;
        height:200%;
        width:20%;
    
    }
    .image-container{
        width:350px;
        height:350px;
    }
}
@media(max-width:750px){
    .store-container{
        justify-content:center;
    }
    .store-text{
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .store-image{
        display:none;
    }
    .store-address,.store-contact{
        flex-direction:column;
    }
    .store-address--icon,.store-contact--icon{
        margin-right:0;
        margin-bottom:20px;
    }
    .store-image-hidden{
        display:block;
        width:240px;
        height:240px;
        object-fit:cover;
        border-radius:50%;
        overflow:hidden;
        border:10px solid var(--main-color);
        margin-bottom:30px;
        
    }
    .store-image-hidden img{
        width:100%;
        height:100%;
    }

}
@media(max-width:516px){
    .title-container:after{
        left:32%;;
        top:-50%;
        height:200%;
        width:35%;
    
    }
}