body{
    
    background-color:#f9fafb;
    background-color:var(--main-color);
}
.logo-login{
    position:absolute;
    height:130px;
    width:130px;
    object-fit:contain;
    background-color:var(--main-color);
    margin-bottom:10px;
    top:30px;
    left:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:30%;

}
.logo-login img{
    width:80%;
    height:80%;
    position:relative;
    bottom:5px;

}

.login-container{
    width:100vw;
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    

}

.login-area{
    background-color:#fff;
    width:400px;
    height:500px;
    border-radius:5%;
    padding:40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
}
.login-title{
    color:#000;
    text-transform:capitalize;
    font-size:20px;
    font-weight:500;
    margin-bottom:20px;
}
.form-group{
    display:flex;
    flex-direction:column;
}
.form-group label{
    color:#000;
    font-weight:600;
    font-size:15px;
    margin-bottom:7px;
    display:inline-flex;
    width:100px;
}
.form-group input{
    border:2.5px solid #e5e5e5;
    border-radius:6px;
    padding:14px 16px 16px 18px;
    margin-bottom:20px;
    font-size:14px;
    transition:ease 0.3s all;
}
.form-group input:focus{
    transition:ease 0.3s all;
}

.password-reset{
    display:flex;
    justify-content:flex-end;
    color:var(--main-color);
    font-weight:700;
    margin-top:10px;
    margin-bottom:35px;
    outline:none;
    border:0;
    text-decoration:none;
}

.login-button{
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    background-color:var(--main-color);
    border:0;
    width:100%;
    padding:11px 0;
    font-size:18px;
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:1px;
    border-radius:9px;
    cursor:pointer;
}
.login-button:hover{
    background-color:#c42519;
}
.form-footer{
    margin-top:40px;
    display:flex;
    justify-content:space-between;
    width:100%;
    align-items:center;
}
.register{
    outline:none;
    text-decoration:none;
    color:var(--main-color);
    font-weight:600;
    border:3px solid #e5e5e5;
    padding:5px 20px;;
    border-radius:7px;
    
}
.register:hover{
    background-color:#e5e5e5;
}